<div class="container">
    <h1>
        ArtPleasure
    </h1>

    <p>
         Rare, une peinture aussi limpide aussi vivante pour le plus grand bonheur d’une réalité aussi simple qu’harmonieuse. Et bien c’est à cela que se reconnaît instantanément Jean Pierre DASSONNEVILLE qui réunit tant d’élégance dans sa façon exemplaire de définir un site. Ses huiles, d’abord, sont toujours brillamment composées, et la qualité de la manière n’a d’égale la beauté des reflets des marines et des motifs maritimes, tandis que les éclairages strictement étudiés concourent à la création d’oeuvres d’une belle authenticité et chaleureuses au possible.
Jean Pierre DASSONNEVILLE s’est véritablement voué au figuratif, mais avec l’appui, non seulement d’une parfaite technique, mais, avec la volonté de se démarquer d’une réalité trop formelle et de puiser dans son talent l’expression d’une poésie des formes, des éléments, des êtres et des climats dont il gère la réussite avec une retenue enviable et une remarquable atmosphère, que ne peut manquer de maîtriser ce natif de Grand-Couronne, un site particulièrement cher aux impressionnistes et aux peintres férus des prodigieux effets dispensés par les rives de la Seine.
<br/>
André RUELLAN,<br/>
critique d’art.
    </p>
</div>
