<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-light" href="#!/about">À propos de l'artiste</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="#">
                <img class="rounded nav-img" src="../ressources/logo-twitter.jpg" alt="Twitter" title="Twitter">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="#">
                <img class="rounded nav-img" src="../ressources/logo-facebook.png" alt="Facebook" title="Facebook">
            </a>
        </li>
    </ul>
</div>