<div class="container">
    <div class="row">
        <div class="col-md-5 offset-1">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#!/contact">Nous contacter</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#!/about">À propos de l'artiste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="#!/home">
                        <img class="rounded nav-img" src="../ressources/logo-twitter.jpg" alt="Twitter" title="Twitter">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://www.facebook.com/Jean-Pierre-Dassonneville-Artiste-Peintre-463640866984141/">
                        <img class="rounded nav-img" src="../ressources/logo-facebook.png" alt="Facebook" title="Facebook">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>