<div class="container low">
    <div class="row">
        <a class="col-md-4 onglet has-hover" href="#!/prodperso" id="prodPerso" ng-init="$ctrl.init(0)">
            <div class="titre">
                <h3>Productions personnelles</h3>
            </div>
        </a>
        <a class="col-md-4 onglet has-hover" href="#!/restaurations" id="restaurations" ng-init="$ctrl.init(1)">
            <div class="titre">
                <h3>Restaurations</h3>
            </div>
        </a>
        <a class="col-md-4 onglet has-hover" href="#!/beauxarts" id="beauxArts" ng-init="$ctrl.init(2)">
            <div class="titre">
                <h3>Beaux Arts</h3>
            </div>
        </a>
    </div>

    <div class="row low mb-3">
        <article class="col-md-8">
            <h1>Bienvenue</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. A culpa voluptas quidem similique voluptate dolorem odio accusamus fuga asperiores doloribus, doloremque consequuntur autem nam voluptatem error deleniti modi unde nobis.
            </p>
        </article>
        <a class="col-md-4 onglet has-hover" href="#!/evennements" id="evennements" ng-init="$ctrl.init(3)">
            <div class="titre">
                <h3>Evennements</h3>
            </div>
        </a>
    </div>
</div>