<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ArtPleasure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/prodperso" translate="home"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/restaurations">{{"menu.tab-two"|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/beauxarts">{{"menu.tab-three"|translate}}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="{{'home'|translate}}" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{{ "menu.search" | translate }}</button>
        </form>
    </div>
</nav>