<nav class="col-md-2 d-none d-md-block bg-light sidebar float-left">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Toutes les oeuvres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Paris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Marine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Nature Morte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Scène de vie quotidienne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" ng-href="{{$ctrl.href}}">Ecole</a>
            </li>
        </ul>
    </div>
</nav>