<nav class="col-md-2 d-none d-md-block bg-light sidebar float-left">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Toutes les oeuvres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Paris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Marine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Nature Morte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Scène de vie quotidienne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#!/prodperso">Ecole</a>
            </li>
        </ul>
    </div>
</nav>