<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!/home">ArtPleasure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/prodperso">Productions personnelles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/restaurations">Restaurations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/beauxarts">Objets de beaux-arts</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>